<footer>
  <div class="page-column">
    <div class="info col-wrapper">
      <div class="logo col six">
        <div class="brand">
          CSF
        </div>
      </div>
      <div class="links col six">
        <ul>
          <li><a href="/experience">EXPERIENCE</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>