<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Arnaud P. Crowther">
  <link rel="icon" type="image/x-icon" href="">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/assets/vendor/owl/assets/owl.carousel.min.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/vendor/owl/assets/owl.theme.default.min.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/main.min.css" type="text/css"/>
</head>
