<nav>
  <div class="page-column">
    <a href="/" class="brand inline">
      <img src="/assets/images/logo-black.svg">
    </a>
    <ul class="menu inline">
      <li data-page="experience"><a href="/experience">EXPERIENCE</a></li>
      <li data-page="about"><a href="/about">ABOUT</a></li>
      <li data-page="contact"><a href="/contact">CONTACT</a></li>
    </ul>
  </div>
</nav>