<nav>
  <div class="page-column">
    <a href="/" class="brand inline">CSF</a>
    <ul class="menu inline">
      <li><a href="/experience">EXPERIENCE</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </div>
</nav>