#experience {

  .hero {
    height: 820px;
    background-image: url(/assets/images/hero-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .inner {
      position: absolute;
      z-index: 2;
      width: 100%;
      margin-top: 435px;
      .details {
        width: 600px;
        h1 {
          max-width: 365px;
          color: #fff;
        }
        p {
          margin-top: 30px;
          max-width: 520px;
          color: #fff;
          opacity: 1;
        }
      }
    }
  }

  .projects {
    .row {
      .image {
        vertical-align: middle;
        .slider-wrapper {
          position: relative;
          .slider-nav {
            display: inline-block;
            position: absolute;
            top: 42px;
            left: 0;
            z-index: 2;
            font-size: 0;
            .nav-item {
              width: 50px;
              height: 43px;
              background: #fff;
              display: inline-block;
              font-size: 12px;
              position: relative;
              cursor: pointer;
              .icon {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
              }
            }
          }
          .owl-carousel {
            .item {
              height: 600px;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: bottom;
              background-color: rgb(165, 45, 45);
            }
            .item-1 {
              background-image: url(/assets/images/home-1.jpg);
            }
            .item-2 {
              background-image: url(/assets/images/experience-2.jpg);
            }
            .item-3 {
              background-image: url(/assets/images/experience-3.jpg);
            }
            .item-4 {
              background-image: url(/assets/images/experience-4.jpg);
            }
          }
        }
        
      }
      .listing {
        vertical-align: middle;
        padding: 0 6%;
        .grid {
          margin-top: 50px;
          .row {
            .tile {
              margin-bottom: 20px;
              font-size: 12px;
              line-height: 2;
              color: rgba(0, 0, 0, 0.4);
              .inner {
                max-width: 250px;
                .title {
                  font-weight: 600;
                  color: rgba(0, 0, 0, 0.7);
                }
              }
            }
          }
        }
      }
    }
    .row-reverse {
      background: #f7f8fa;
      .image {
        .slider-wrapper {
          .slider-nav {
            .nav-item {
              background: #f7f8fa;
            }
          }
        }
      }
    }
  }

}






@media only screen and (max-width: $tablet-portrait) {
  #experience .hero {
    height: 600px;
    margin-bottom: 20px;
  }
  #experience .hero .inner {
    margin-top: 286px;
  }
  #experience .hero .inner .details p {
    max-width: 560px;
  }
  #experience .projects .row .col {
    width: 100%;
  }
  #experience .projects .row .listing .grid .col {
    width: 33.3333333333%;
  }
  #experience .projects .row-reverse {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column-reverse;
    flex-flow: column-reverse;
  }
  #experience .projects .row .listing {
    padding: 60px 10%;
  }
  #experience .projects .row .image .slider-wrapper .owl-carousel .item {
    height: 380px;
  }
}


@media only screen and (max-width: $phone) {
  #experience .hero .inner {
    margin-top: 202px;
  }
  #experience .hero .inner .details {
    width: 100%;
    text-align: center;
  }
  #experience .hero .inner .details h1 {
    max-width: 280px;
    margin: auto;
  }
  #experience .projects .row .image .slider-wrapper .owl-carousel .item {
    height: 260px;
  }
  #experience .projects .row .listing .grid .row .tile {
    width: 100%;
  }
  #experience .projects .row .listing {
    padding: 36px 6%;
  }
  #experience .projects .row .listing .grid {
    margin-top: 40px;
  }
}