* {
  box-sizing: border-box;
}

html {
  line-height: initial;
}
body {
  background-color: #ffffff;
  color: #3a3a3a;
  font-size: 14px;
  // font-family: 'Cabin', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: normal; 
  font-style: normal; 
  padding: 0;
  margin: 0;
}

.col-wrapper {
  font-size: 0;
  .col {
    display: inline-block; 
    font-size: 14px; 
    vertical-align: top; 
  }
  .one    { width: 8.3333333333%; }
  .two    { width: 16.6666666666%; }
  .three  { width: 24.9999999999%; }
  .four   { width: 33.3333333333%; }
  .five   { width: 41.6666666665%; }
  .six    { width: 49.9999999998%; }
  .seven  { width: 58.3333333331%; }
  .eight  { width: 66.6666666664%; }
  .nine   { width: 74.9999999997%; }
  .ten    { width: 83.333333333%; }
  .eleven { width: 91.6666666663%; }
  .twelve { width: 100%; }
} 

.abs-center {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.inline {
  display: inline-block;
  vertical-align: middle;
}
.page-column {
  max-width: 1170px;
  margin: auto;
  padding: 0 10px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}




h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 6.3px;
  color: #000000;
  margin: 0;
}
h2 {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 2px;
  color: #000000;
  margin: 0;
}

p {
  opacity: 0.4;
  font-size: 14px;
  line-height: 1.71;
  color: #000000;
  margin: 0;
}
p.primary {
  opacity: 0.4;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  margin: 0;
}

a.primary-button {
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 0 12px 27px 0 rgba(0, 29, 119, 0.1);
  padding: 13px 50px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4.5px;
  color: #000000;
  -webkit-appearance: none;
  border: none;
}






// @media only screen and (max-width: 1300px) {
//   .page-column {
//       padding: 0 10%;
//   }
// }