#home {

  .hero {
    .inner {
      position: absolute;
      z-index: 2;
      width: 100%;
      margin-top: 435px;
      .details {
        width: 650px;
        p {
          margin-top: 30px;
          max-width: 520px;
        }
        .slider-nav {
          margin-top: 40px;
          .nav-button {
            display: inline-block;
            width: 13px;
            height: 20px;
            margin-right: 40px;
            cursor: pointer;
          }
        }
      }
    }
    .owl-carousel {
      .item {
        height: 820px;
        background-image: url(/assets/images/hero-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }
  }

  .nav {
    text-align: center;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-between; 
      li {
        display: inline-block;
        a {
          display: block;
          color: inherit;
          text-decoration: none;
          opacity: 0.5;
          padding: 35px 0;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 3px;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .masonry {
    .row {
      background: #f7f8fa;
      .image {
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .home-1 {
        background-image: url(/assets/images/home-1.jpg);
      }
      .home-2 {
        background-image: url(/assets/images/home-2.jpg);
      }
      .image, .text {
        vertical-align: middle;
      }
      .text {
        padding: 0 10%;
        p {
          margin-top: 20px;
        }
        a {
          margin-top: 50px;
        }
      }
    }
  }

}






@media only screen and (max-width: $tablet-portrait) {
  #home .hero .owl-carousel .item {
    height: 600px;
    background-size: 150%;
    background-position: left bottom;
  }
  #home .hero .inner {
    margin-top: 286px;
  }
  #home .hero .inner .details h1 {
    max-width: 500px;
  }
  #home .hero .inner .details p {
    max-width: 590px;
    margin-top: 20px;
  }
  #home .hero .inner .details .slider-nav {
    margin-top: 30px;
  }
  #home .masonry .row .text {
    padding: 60px 10% 100px 10%;
  }
  #home .masonry .row .image, #home .masonry .row .text {
    width: 100%;
    text-align: center;
  }
  #home .masonry .row .image {
    height: 380px;
  }
  #home .masonry .row-reverse {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column-reverse;
    flex-flow: column-reverse;
  }
}


@media only screen and (max-width: $phone) {
  #home .hero {
    margin-bottom: 20px;
  }
  #home .hero .inner {
    pointer-events: none;
  }
  #home .hero .inner .details {
    width: 100%;
  }
  #home .hero .inner {
    margin-top: 170px;
  }
  #home .hero .owl-carousel .item {
    background-size: 290%;
    background-position: -550px -130px;
  }
  #home .hero .inner .details {
    text-align: center;
  }
  #home .nav {
    display: none;
  }
  #home .hero .inner .details .slider-nav .nav-button {
    margin: 0;
  }
  #home .hero .inner .details .slider-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
  }
  #home .masonry .row .image {
    height: 260px;
  }
  #home .masonry .row .text {
    padding: 36px 6% 70px 6%;
  }
}