nav {
  text-align: right;
  padding-left: 10px;
  .page-column {
    position: relative;
    .brand {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      height: 22px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 5px;
      color: #000000;
      text-decoration: none;
    }
    ul.menu {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        a {
          display: block;
          color: inherit;
          text-decoration: none;
          opacity: 0.5;
          padding: 35px 0;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 3px;
          margin-left: 70px;
          position: relative;
          &:hover {
            opacity: 1;
          }
        }
      }
      li.active {
        a {
          opacity: 1;
        }
        a:after {
          content: "";
          position: absolute;
          height: 2px;
          background: #000;
          width: 58px;
          left: -3px;
          right: 0;
          margin: auto;
          bottom: 20px;
        }
      }
    }
  }
}






@media only screen and (max-width: $tablet-portrait) {
  nav {
    text-align: right;
    padding-left: 10%;
  }
  nav .page-column ul.menu li a {
    padding: 30px 0;
  }
}


@media only screen and (max-width: 626px) {
  nav {
    height: 50px;
    padding-left: 0;
    text-align: center;
    position: relative;
    .menu-button {
      cursor: pointer;
      content: "";
      position: absolute;
      height: 12px;
      width: 18px;
      background: linear-gradient(
        to bottom, 
        #b3b3b3, #b3b3b3 20%, 
        white 20%, white 40%, 
        #b3b3b3 40%, #b3b3b3 60%, 
        white 60%, white 80%, 
        #b3b3b3 80%, #b3b3b3 100%
      );
      top: 0;
      left: 20px;
      bottom: 0;
      margin: auto;
    }
    .page-column {
      .brand {
        position: relative;
        padding: 12px 0;
        display: block;
        height: auto;
        width: 100px;
      }
      ul.menu {
        display: none;
        z-index: 100;
        background: white;
        width: 100%;
        left: 0;
        position: absolute;
        text-align: left;
        li {
          width: 100%;
          a {
            padding: 10px 5px;
            margin: 0;
          }
        }
      }
    }
  }
}